[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/glfw/glfw.git
    branch = 3.3-stable
[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/icaven/glm.git
